:root {
    --brown: rgb(66, 39, 4);
    --dgreen: darkgreen;
    --white: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--brown);
}   

.app {
    background: var(--dgreen);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: var(--white);
    font-weight: 600;
    border-bottom: 1px solid var(--brown);
    padding-bottom: 30px;
    text-align: center;
}

.quiz{
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
}

.btn {
    background: var(--brown);
    color: var(--white);
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--white);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background: var(--white);
    color: var(--brown);
}

#start-btn {
    color: var(--brown);
    font-weight: 500;
    text-align: center;
    width: 150px;
    border: 0;
    padding: 10px 270px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

#timer {
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    padding-right: 100px;
}

#question {
    text-align: center;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.list {
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}